.App{
  height: 100vh;
}
.spacer-block{
  height: 15vh;
  min-height: 45px;
}
.app-header {
  width: 100vw;
  height: 15vh;
  min-height: 45px;
  background-color: #85C2EA;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.header-text{
  height: 15vh;
  display: flex;
  align-items: center;
}
.header-text a{
  text-decoration: none;
  color: white;
  font-size: 3vh;
  margin-left: 10px;
  transition: color 0.5s;
}
.header-text a:hover{
  color: #4D85C1;
  transition: color 0.5s;
}
.navigator{
  height: 15vh;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.nav-link{
  padding: 0 5px;
  margin: 0 3px;
  border-right: solid white 2px;
}
.nav-link a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.nav-link a:hover{
  color: #4D85C1;
}
main{
  background-image: url("./assets/bg_image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
footer{
  width: 100vw;
  height: 10vh;
  background-color: #85C2EA;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-link{
  margin: 5px;
}
.footer-link a{
  text-decoration: none;
  color: white;
}


.login-box{
  background-color: #C4D8E2;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 15vh;
  width: 100%;
}
.login-box button{
  cursor: pointer;
  background-color: #4D85C1;
  color: white;
  height: 30px;
  margin: 5px;
}
.login-box button:hover{
  background-color: white;
  color: #4D85C1;
}
.login-box input{
  height: 22px;
  margin: 5px;
}
.login-box input:hover{
  background: #85C2EA;
}
.login-link{
  margin-top: 10px;
}
.login-link p{
  margin: 0;
}


.register-box{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C4D8E2;
  position: fixed;
  top: 15vh;
  width: 100%;
}
.register-box a{
  cursor: pointer;
}
.register-box form{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.register-box p{
  font-size: 14px;
  margin: 0;
}
.register-input{
  width: 200px;
  height: 25px;
}
.register-input:hover{
  color: white;
  background-color: #85C2EA;
}
.register-btn{
  width: 100px;
  height: 30px;
  margin-right: 10px;
  color: white;
  background: #4D85C1;
  cursor: pointer;
}
.register-btn:hover{
  color: #4D85C1;
  background: white;
}


.userlink-group{
  display: flex;
  flex-direction: row;
}
.userlink-group a{
  padding: 2px;
  transition: background-color 0.3s;
}
.userlink-group a:hover{
  background-color: #4D85C1;
  color: white;
  transition: background-color 0.3s;
}
.fa-user{
  color: white;
  margin-left: 1vw;
}
.user-menu a:hover{
  background-color: #4D85C1;
}


.user-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userevent-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.usersetting-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box{
  height: 40vh;
  width: 100vw;
  min-height: 200px;
  min-width: 450px;
  overflow: scroll;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/campus_2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box-content{
  height: 30vh;
  width: 70vw;
  min-width: 440px;
  min-height: 128px;
  background-color: rgba(255, 255, 255 ,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #4D85C1;
}
.search-bar input{
  height: 30px;
  margin: 5px;
}
.search-bar input:hover{
  background-color: #85C2EA;
}
.search-bar button{
  height: 40px;
  margin: 5px;
  background-color: #4D85C1;
  color: white;
  cursor: pointer;
}
.search-bar button:hover{
  color: #4D85C1;
  background: white;
}


.tag-section{
  height: 15vh;
  min-height: 80px;
  width: 100vw;
  min-width: 520px;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
}
.tag-image{
  background-image: url("./assets/tag_single.png");
  background-position: center;
  background-size: cover;
  height: 5vw;
  min-height: 34px;
  max-height: 55px;
  width: 5vw;
  min-width: 34px;
  max-width: 55px;
  border-radius: 20%;
}
.tag-single{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10vw;
  max-width: 93px;
  min-width: 56px;
  height: 10vw;
  max-height: 93px;
  min-height: 56px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.5s;
}
.tag-single:hover{
  background-color: #C4D8E2;
  color: white;
  transition: 0.5s;
}


.highlight-section{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.highlight-title{
  color: #4D85C1;
  background-color: rgba(196, 216, 226, 0.7);
  width: 45vw;
  min-width: 303px;
  display: flex;
  justify-content: center;
  border-top: groove rgba(128, 128, 128, 0.233) 2px;
}
.highlight-scroller{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vw;
  min-height: 390px;
  width: 100%;
}
.highlight-image{
  height: 40vw;
  min-height: 270px;
  width: 45vw;
  min-width: 303px;
  background-image: url("./assets/event_example.png");
  background-color: rgba(196, 216, 226, 0.7);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: groove rgba(128, 128, 128, 0.233) 2px;
  border-top: groove rgba(128, 128, 128, 0.233) 2px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.highlight-image:hover{
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.5s;
}
.highlight-detail{
  height: 13vw;
  min-height: 88px;
  width: 43vw;
  min-width: 288px;
  background-color: rgba(196, 216, 226, 0.7);;
  margin: 0;
  padding: 1vw;
  border-bottom: groove rgba(128, 128, 128, 0.233) 4px;
  text-align: center;
}
.highlight-detail p{
  margin: 3px;
}
.highlight-btn{
  height: 55vw;
  min-height: 372px;
  width: 10vw;
  min-width: 67px;
  border-left: groove rgba(194, 189, 189, 0.205) 4px;
  border-right: groove rgba(194, 189, 189, 0.205) 4px;
  transition: background 0.5s;
  cursor: pointer;
}
.highlight-btn:hover{
  background-color: rgba(255, 255, 255, 0.7);
  background-size: 100%;
}
.prev-highlight{
  background-image: url("./assets/left_arrow.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.next-highlight{
  background-image: url("./assets/right_arrow.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.ranking-section{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: #C4D8E2;
}
.ranking-container{
  border: solid #85C2EA 2px;
  padding: 10px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ranking-container h3{
  color: #4D85C1;
}
.ranking-box{
  width: 78vw;
  min-width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.ranking-title{
  background-color: #4D85C1;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranking-newest{
  display: flex;
  flex-direction: column;
  width: 36vw;
  padding: 1vw;
  min-width: 300px;
}
.ranking-hottest{
  display: flex;
  flex-direction: column;
  width: 36vw;
  padding: 1vw;
  min-width: 300px;
}
.ranking-single{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  cursor: pointer;
  transition: background-color 0.3s;
}
.ranking-single:hover{
  background-color: white;
  transition: background-color 0.3s;
}
.ranking-num{
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: #85C2EA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.ranking-image{
  height: 13vh;
  width: 13vh;
  background-position: center;
  background-size: cover;
}
.ranking-newest .ranking-image{
  background-image: url("./assets/cu_icon.jpg");
}
.ranking-hottest .ranking-image{
  background-image: url("./assets/cu_icon_2.png");
}
.ranking-detail{
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ranking-detail p{
  margin: 0;
}