.App{
  height: 100vh;
}
.app-header {
  width: 100vw;
  height: 15vh;
  min-height: 45px;
  background-color: #85C2EA;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.header-text{
  height: 15vh;
  display: flex;
  align-items: center;
}
.header-text a{
  text-decoration: none;
  color: white;
  font-size: 3vh;
}
.navigator{
  height: 15vh;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.nav-link{
  padding: 0 5px;
  margin: 0 3px;
  border-right: solid white 2px;
}
.nav-link a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.nav-link a:hover{
  color: #4D85C1;
}
main{
  margin-top: 15vh;
  height: 85vh;
}
footer{
  width: 100vw;
  height: 10vh;
  background-color: #85C2EA;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content{
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
}
.footer-link{
  margin: 5px;
}
.footer-link a{
  text-decoration: none;
  color: white;
}

.search-box{
  height: 40vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/campus_2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box-content{
  height: 30vh;
  width: 70vw;
  min-width: 510px;
  min-height: 128px;
  background-color: rgba(255, 255, 255 ,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #4D85C1;
}
.search-bar input{
  height: 30px;
  margin: 5px;
}
.search-bar button{
  height: 40px;
  margin: 5px;
  background-color: #4D85C1;
  color: white;
  cursor: pointer;
}
.search-bar button:hover{
  color: #4D85C1;
  background: white;
}
.login-box{
  background-color: #C4D8E2;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-box button{
  cursor: pointer;
  background-color: #4D85C1;
  color: white;
  height: 30px;
  margin: 5px;
}
.login-box button:hover{
  background-color: white;
  color: #4D85C1;
}
.login-box input{
  height: 22px;
  margin: 5px;
}
.login-box input:hover{
  background: #85C2EA;
}
.login-link{
  margin-top: 10px;
}
.login-link p{
  margin: 0;
}
.register-box{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C4D8E2;
}
.register-box a{
  cursor: pointer;
}
.register-box form{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.register-input{
  width: 200px;
}
.register-input:hover{
  color: white;
  background-color: #85C2EA;
}
.register-btn{
  width: 100px;
  height: 30px;
  margin-right: 10px;
  color: white;
  background: #4D85C1;
  cursor: pointer;
}
.register-btn:hover{
  color: #4D85C1;
  background: white;
}
.userlink-group{
  display: flex;
  flex-direction: row;
}
.userlink-group a{
  padding: 2px;
  transition: background-color 0.3s;
}
.userlink-group a:hover{
  background-color: #4D85C1;
  color: white;
  transition: background-color 0.3s;
}
.fa-user{
  color: white;
  margin-left: 1vw;
}
.userpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}